@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD
=======

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.animate-shake {
  animation: shake 0.4s ease-in-out infinite alternate;
}
.animate-wave {
  animation: wave 1s ease-in-out infinite alternate;
}
.animate-flicker {
  animation: flicker 0.6s ease-in-out infinite;
}
>>>>>>> fe74968 (initial commit)
